*/*reset*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

body{
    background-color: rgb(240, 243, 242);
}

/*header*/

.container-logo{
    height: 80px;
    margin-bottom: 40px;
    line-height: 80px;
    background-color: white;
}



#image-logo{
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
}

#logo-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    vertical-align: middle;
}

.container{
    width: 65%;
    margin: 0 auto;
    background-color: white;
    padding-top: 15px;
    padding-left: 40px;
}

/*main*/

/*main buttons*/

.buttons{
    margin-bottom: 20px;
}

main button{
    margin-bottom: 10px;
    
}

/*buttons*/

#first-button{
    font-size: 10px;
    padding: 8px;
    color: white;
    border-radius: 25%;
    background-color: rgb(33, 161, 204);
}

#second-button{
    font-size: 10px;
    padding: 8px;
    color: rgb(204, 198, 198);
    border-color:rgb(204, 198, 198) ;
    border-radius: 25%;
    background-color: white;
}

/*list*/

ul h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}



ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    line-height: 40px;
    font-weight: 500;
}

.list-button{
    font-size: 12px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    border-radius: 20%;
    text-align: center;
    vertical-align:auto;
}

#blue{
    background-color: rgb(26, 152, 211);

}

#purple{
    background-color: purple;
}

#green{
    background-color: rgb(105, 170, 105);
}

#orange{
    background-color: rgb(192, 84, 45);
}

#pink{
    background-color: rgb(167, 111, 120)
}
#yellow{
    background-color: rgb(204, 204, 62)
}
#light-blue{
    background-color: lightblue
}

.decoration-one{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(57, 124, 57);
    color:green;
    border-radius: 50%;
    text-align: center;
    
}

.decoration-two{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(190, 52, 52);
    color:red;
    border-radius: 50%;
    text-align: center;

}

